.card img {
  width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  draggable: false;
}
.card {
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-drag: none;
  &::after {
    background: var(--secondary-color);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    border-radius: 8px;
    z-index: 1;
  }
  &::before {
    content: "?";
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  &:hover {
    transform: scale(1.05);
  }
  &.checked,
  &.matched {
    pointer-events: none;
    &::after {
      opacity: 0;
    }
    &::before {
      opacity: 0;
    }
  }
}

@keyframes matchFound {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.card.matched {
  animation: matchFound 0.5s ease;
}
