.container {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 32px 24px 16px;
  border-radius: 24px;
  max-width: 600px;
  width: 100%;
}
.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 24px;
  &.hard {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
    &.hard {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
