.container {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 32px 24px 16px;
  border-radius: 24px;
  max-width: 600px;
  width: 100%;
}
